<form method="post" action="/daftar">
    <input id="anti-forgery-token" name="__anti-forgery-token" type="hidden"
           value="*anti-forgery-token*">

    <div id="username-form-group" class="form-group">
        <label for="username" class="control-label">Username</label>
        <input id="username" class="form-control" type="text" name="username"
               placeholder="Username">
        <span id="username-error" class="help-block">
            Username tidak boleh kosong.
        </span>
    </div>

    <div id="email-form-group" class="form-group">
        <label for="email" class="control-label">Email</label>
        <input id="email" class="form-control" type="text" name="email"
               placeholder="Email">
        <span id="email-error" class="help-block">
            Email mesti dalam bentuk email yang sah dan tidak boleh kosong.
        </span>
    </div>

    <div id="password-form-group" class="form-group">
        <label for="password" class="control-label">Password</label>
        <input id="password" class="form-control" type="password" name="password"
               placeholder="Password">
        <span id="password-error" class="help-block">
            Password tidak boleh kosong.
        </span>
    </div>

    <input class="btn btn-primary btn-block" type="submit" value="Daftar">
</form>
